{% extends 'layout.html' %}
{% block body %}
{% if current_user.is_authenticated %}
<div class="dashboard">
   <div class="list">
    <div class="list-group">
        <a href="{{url_for('products_page')}}"><li class="list-group-item">Products</a></li>
        <li class="list-group-item"><a href="">Purchases</a></li>
        <li class="list-group-item"><a href="">Orders</a></li>
        <li class="list-group-item"><a href="">Sales</a></li>
    </div> 
   </div>
   <div class="stats">
    <table class="table table-striped table-inverse table-responsive">
        <thead class="thead-inverse">
            <tr>
                <th>Products</th>
            </tr>
            </thead>
            <tbody>
                <tr>
                    <td scope="row"></td>
                    <td>{{count}} Products In Your Stock</td>
                   
                </tr>
            </tbody>
    </table>
    <div class="stats">
        <table class="table table-striped table-inverse table-responsive">
            <thead class="thead-inverse">
                <tr>
                    <th>Purchases</th>
                </tr>
                </thead>
                <tbody>
                    <tr>
                        <td scope="row"></td>
                        <td>How many items ?</td>
                       
                    </tr>
                </tbody>
        </table>
    </div>

    <div class="stats">
        <table class="table table-striped table-inverse table-responsive">
            <thead class="thead-inverse">
                <tr>
                    <th>Orders</th>
                </tr>
                </thead>
                <tbody>
                    <tr>
                        <td scope="row"></td>
                        <td>How many items ?</td>
                       
                    </tr>
                </tbody>
        </table>
    </div>
    <div class="stats">
        <table class="table table-striped table-inverse table-responsive">
            <thead class="thead-inverse">
                <tr>
                    <th>Purchases</th>
                </tr>
                </thead>
                <tbody>
                    <tr>
                        <td scope="row"></td>
                        <td>How many items ?</td>
                       
                    </tr>
                </tbody>
        </table>
    </div>
</div>

</div>

{% else %}
<div class="welcome">
    <center>
        <h1>A place to sell with no hustle</h1>
        <a href="{{url_for('sign_up')}}" class=" btn welbtn">Become a Seller</a>
    </center>
</div>
{% endif %}
{% endblock body %}