{% extends 'layout.html' %}
{% block body %}
{%with messages =get_flashed_messages()%}
{% if messages %}
   {% for message in messages %}
       <center>
           <div class="flash">
               {{ message }}
           </div>
       </center>
   {% endfor %}
{% endif %}
{%endwith%}
<div class="container">
    
    <div class="form">
            <h3>Sign Up To Sell With Us</h3>
        <form action="{{url_for('sign_up')}}" method="post">
            <p>{{form.username.label}}</p>
            {{ form.username() }}  
            <p>{{form.email.label}}</p>
            {{ form.email() }}
            <p>{{form.comm_type.label}}</p>
            {{ form.comm_type() }}
            <p>{{form.password.label}}</p>
            {{ form.password() }}
            <p>{{form.confirm.label}}</p>
            {{ form.confirm() }}  
            <br><br>         
            {{ form.submit(class='btn mybtn') }}  
            </div>
        </form>
    
    <div class="decrip">
        <div class="list-group">
            <li class="list-group-item"><a href="">About Selling With Us</a></li>
            <li class="list-group-item"><a href="">Terms an Conditons</a></li>
            
        </div>
    </div>

</div>
{% endblock body %}