body{
    background-color: lightgray;
}
.main-body{
    min-height: 500px;


}
footer{
    background-color: #945d15;
    padding: 20px;
    color: white}

.container{
    display: flex;
    padding: 20px;
    justify-content: space-between;
}


.list-group-item{
    background-color: #945d15;

}
.list-group-item:hover{
    background-color:coral;

}
.list-group-item a{
    color: white;

}
.list-group-item a:hover{
    color:#945d15;
    
    list-style-type: none;
}
.form{
   text-align: center;
   width:400px;
   color: white;
   background-color: #945d15;
   border-radius: 50px;
   padding: 15px;

}
.mybtn{
    color: white;
    background-color: #945d15;
}
.nav h1{
    color: #945d15;
}
.welcome{
    background-color: #945d15;
    color: white;
    padding: 250px;
}
.welbtn{
    color: #945d15;
    background-color: white;
}
.flash{
    color: #945d15;
    font-weight: bold;
}
th{
    color: #945d15;
    
}
td{
    width: 600px;
    color: #945d15;
}
.all{
    border: #945d15 solid 1px;
}
 .list-group{
    width: 100%;
}
.list{
    background-color: #945d15;
    width: 30%;
    height: 650px;
}
.dashboard {
    display: flex;
}